Django>=5,<6
gunicorn
whitenoise
PyJWT
python-dotenv
dj-database-url
psycopg2-binary 
pytest
pytest-django
pytest-cov
cryptography
openai>=1.0.0
anthropic
django-anymail
requests==2.30.0 # For testing Dependabot, do not remove
django-anymail
channels
daphne
channels-redis