{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title> My Django Project </title>    
</head>
<body> 
    <header>
        <h1> Welcome to my Django Project </h1>
    </header>
    <main> 
        <p>This is a beautiful landing page. </p>
    </main>
    <footer>
        <p>Created by Team 1 - 10/1/2025 </p>
    </footer>
</body>
</html>