{% extends 'home/base.html' %}
{% block title %}Create Meeting{% endblock %}

{% block content %}
<main>
    <h2>{{ meeting.title }}</h2>

    <div id="jitsi-container" style="height: 600px; width: 100%; border: 1px solid #ccc;"></div>

    <script src='https://meet.jit.si/external_api.js'></script>
    <script>

        const domain = 'meet.jit.si';
        const options = {
            roomName: '{{ meeting.room_name }}',
            width: 700,
            height: 700,
            parentNode: document.getElementById('jitsi-container'),
            lang: 'en'
        };

        const api = new JitsiMeetExternalAPI(domain, options);

    </script>
</main>

{% endblock %}